<html>
	<head>
		<link rel="stylesheet" href="/stylesheets/login.css">
	</head>

	<body>
		<div class="login">
			<img class="logo" src="/images/converse_logo.png">
			<!-- <h1>Login</h1> -->
			<br><br>
		    <form method="post" action="">
		    	<input type="email" name="e" placeholder="Email" required="required" />
	        <input type="password" name="p" placeholder="Password" required="required" />
	        <button type="submit" class="btn btn-primary btn-block btn-large">Let me in</button>
		    </form>
		</div>

    <script src="/javascripts/login.js"></script>
	</body>
</html>
